:root {
  --clr-primary-400: hsl(265, 44%, 39%);

  --clr-accent-400: hsl(279, 100%, 97%);
  --clr-accent-300: hsl(33, 95%, 53%);
  --clr-accent-200: hsl(33, 95%, 65%);
  --clr-accent-100: hsl(13, 100%, 96%);

  --clr-neutral-900: hsl(232, 12%, 13%);
  --clr-neutral-300: hsl(0, 0%, 73%);
  --clr-neutral-100: hsl(0 0% 100%);

  --ff-primary: 'Inter', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-300: .875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-900: 2.5rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-900);
  --fs-secondary-heading: var(--fs-500);
  --fs-nav: var(--fs-600);
  --fs-link: var(--fs-300);

  --size-100: .25rem;
  --size-200: .5rem;
  --size-300: .75rem;
  --size-400: 1rem;
  --size-500: 1.25rem; /* 20px */
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 3rem;
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* quite strong reset */
* {
  margin: 0;
  padding: 0;
  font: inherit;
  /* forces to use the proper styles */
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-primary-900 {
  color: var(--clr-neutral-900);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-accent-400 {
  background-color: var(--clr-accent-400);
}

.bg-accent-100 {
  background-color: var(--clr-accent-300);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-600 {
  font-size: var(--fs-600);
}

.login-form {
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 20px;
}

.form-image img {
  width: 150px;
  height: auto;
  margin: 1rem auto;
}

.form-description {
  text-align: center;
  margin: -1rem auto 1rem;
}

.even-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  justify-content: space-around;
  
}

.even-columns.bg-accent-400 {
  max-width: 1000px;
  width: 100%;
  box-shadow: 0px 4px 15px 7px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

@media (min-width: 768px) {
  .even-columns {
    flex-direction: row;
  }
}

.input-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 6rem;
}

.input {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
}

.input .label label {
  font-size: var(--fs-400);
  font-weight: var(--fw-semi-bold);
}

.input input {
  min-width: 345px;
  width: 100%;
  padding: .2rem .5rem;

  border: 1px solid var(--clr-neutral-300);
  border-radius: 8px;
  overflow: hidden;
}

input:invalid + span::after {
  position: absolute;
  content: "✖";
  padding-left: 5px;
  bottom: .8rem;
  left: 100%;
}

input:valid + span::after {
  position: absolute;
  content: "✓";
  padding-left: 5px;
  bottom: .8rem;
  left: 100%;
}

.form-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 32px;
  width: 90%;
}


/* general styles */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-900);
}


/* button styles */

.button {
  width: 100%;
  padding: .4em 2em;
  font-weight: var(--fw-semi-bold);

  background-color: var(--clr-accent-300);
  border: 1px solid var(--clr-neutral-300);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

.button[data-type="inverted"] {
  background-color: var(--clr-neutral-100);
}

.button:is(:hover, :focus-visible) {
  cursor: pointer;
  background-color: var(--clr-accent-200);
}

.button[data-type="inverted"]:is(:hover, :focus-visible) {
  cursor: pointer;
  background-color: var(--clr-accent-100);
}