<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <title>DGA 4 U</title>
</head>

<body class="bg-primary-400">
    <div class="login-form">
        <form class="even-columns bg-accent-400">
            <div>
                <div class="form-image">
                    <img src="static/images/index.jpg" alt="DGA 4 U">
                </div>
                <div class="form-description">
                    <p class="fs-primary-heading fw-bold text-primary-900">Welcome Back</p>
                    <p>
                        Welcome back! Please enter your details.
                    </p>
                </div>
            </div>
            <div class="input-wrap">
                <div class="input">
                    <div class="label">
                        <label for="email">Email</label>
                    </div>
                    <input type="text" id="email">
                </div>
                <div class="input">
                    <div class="label">
                        <label for="password">Password</label>
                    </div>
                    <input type="password" id="password" required minlength="4" placeholder="4 characters minimum">
                    <span class="validity"></span>
                </div>
                <div class="form-button">
                    <button class="button" type="submit">Login</button>
                    <button class="button" data-type="inverted" formnovalidate><a href="registration">Register</a></button>
                </div>
                <div>
                    <a href="#" class="fs-300 fw-semi-bold text-primary-900">Forgot your password?</a>
                </div>
            </div>
        </form>
    </div>


    
    <script src="scripts.js"></script>
</body>

</html>