{% if img == 1 %}
<div class="image-display">
  <img
    src="{{ url_for('static', filename='images/dt1.png')}}"
    alt="responsive image"
  />
</div>
{% elif img == 2 %}
<div class="image-display">
  <img
    src="{{ url_for('static', filename='images/dt4.png')}}"
    alt="responsive image"
  />
</div>
{% elif img == 3 %}
<div class="image-display">
  <img
    src="{{ url_for('static', filename='images/dt5.png')}}"
    alt="responsive image"
  />
</div>
{% elif img == 4 %}
<div class="image-display">
  <img
    src="{{ url_for('static', filename='images/dp1.png')}}"
    alt="responsive image"
  />
</div>
{% elif img == 5 %}
<div class="image-display">
  <img
    src="{{ url_for('static', filename='images/dp2.png')}}"
    alt="responsive image"
  />
</div>
{% endif %}