<div
  class="modal fade"
  id="recordModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 text-nowrap" id="exampleModalLabel">
          Select the transformer you want your record in
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form autocomplete="off" method="POST">
          {% if transformers == None %}
          <div class="alert alert-danger" role="alert">
            No transformers found. Please add a transformer first at Record
            page.
          </div>
          {% else %} {% for transformer in transformers %}

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="transformerRadio"
              id="transformerRadio"
              value="{{ transformer }}"
            />
            <label class="form-check-label" for="transformerRadio">
              {{ transformer }}
            </label>
          </div>

          {% endfor %} {% endif %}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
