{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <!-- Records table -->

    <div class="col-3">
      <div class="">
        <div class="d-flex flex-column position-relative">
          <div class="hide-scrollbar">
            <div class="container py-3">
              <div class="mb-3">
                <h3 class="fw-semibold mb-2 text-uppercase">Records</h3>
                <!-- Transformer selection dropdown -->

                <div class="btn-group">
                  <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Select transformer
                  </button>

                  <ul class="dropdown-menu">
                    {% if transformers != None %} {% for transformer in
                    transformers %}

                    <li>
                      <a
                        class="dropdown-item"
                        href="{{ url_for('rtdatabase.records', transformer_selected=transformer) }}"
                        name="{{ transformer }}"
                        >{{ transformer }}<i
                          class="bi bi-trash3"
                          style="color: red"
                        ></i
                      ></a>
                    </li>

                      {% endfor %} {% endif %}
                      <li><hr class="dropdown-divider" /></li>
                      <li>
                        <button
                          type="button"
                          class="dropdown-item"
                          data-bs-toggle="modal"
                          data-bs-target="#transformerModal"
                        >
                          Add a new transformer
                        </button>
                      </li>
                    </ul>
                  </div>

                  <!-- delete and email buttons -->
                  <div class="btn-group-sm">
                    <button
                      type="button"
                      class="btn btn-outline-danger"
                      name="action"
                      value="delete"
                      id="deleteButton"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="18"
                        fill="currentColor"
                        class="bi bi-trash-fill"
                        viewBox="0 2 16 14"
                      >
                        <path
                          d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"
                        ></path>
                      </svg>
                      <span class="visually-hidden">Button</span>
                    </button>

                    <button
                      type="button"
                      class="btn btn-outline-primary"
                      name="action"
                      value="email"
                      id="emailButton"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-envelope-at-fill"
                        viewBox="0 2 16 16"
                      >
                        <path
                          d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"
                        ></path>
                        <path
                          d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"
                        ></path>
                      </svg>
                      <span class="visually-hidden">Button</span>
                    </button>
                  </div>
                </div>
              </div>

              <!-- Card list -->

              <form
                class=""
                action=""
                method="POST"
                autocomplete="off"
                style="
                  height: calc(100vh - 195px);
                  display: flex;
                  overflow: hidden;
                "
              >
                <!-- Tranformer Modal -->

                <div
                  class="modal fade"
                  id="transformerModal"
                  tabindex="-1"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">
                          Add a new transformer
                        </h1>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="transformer-name" class="col-form-label"
                            >Name:</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            name="transformer"
                            id="transformer-name"
                            required
                          />
                        </div>
                      </div>

                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button
                          class="btn btn-primary"
                          name="action"
                          value="add"
                          id="add-new-transformer"
                        >
                          Add
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Record List  -->

                <div class="card-list px-3 scrollable-area" id="record-list">
                  {# {% for key, timestamp in kt.items() %} {% if key == "No
                  records found" %} <em>No records found</em>
                  {% else %}
                  <a
                    href="{{ url_for('rtdatabase.records', record_name=key) }}"
                    class="card mb-2 link-underline link-underline-opacity-0"
                    name="{{ key }}"
                    aria-current="true"
                  >
                    <div class="card-body">
                      <div>
                        <h5 class="fw-semibold">{{ key }}</h5>
                      </div>
                      <small class="text-body-tertiary">
                        {{ timestamp }}
                      </small>
                    </div>
                  </a>
                  {% endif %} {% endfor %} #}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Graphs -->

    <div class="col-9">
      <form
        class="d-flex justify-content-evenly align-items-center m-4"
        id="image-form"
      >
        <!-- DGA selection -->

        <span class="text-nowrap fw-semibold">Select two tools:</span>

        {% for image in image_paths %}

        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value="{{ image }}"
            name="image"
            id="flexCheckDefault"
          />
          <label class="form-check-label" for="flexCheckDefault">
            {{ image }}
          </label>
        </div>

        {% endfor %}

        <button
          type="submit"
          class="record-button"
          id="show-button"
          name="action"
          value="show"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="25"
            height="25"
            fill="currentColor"
            class="bi bi-arrow-right-circle"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
            />
          </svg>
        </button>
      </form>

      {% include 'flash_messages.html' %}

      <!-- Image display -->

      <div
        class="d-flex flex-shrink-1 justify-content-evenly"
        id="selected-images"
      ></div>
    </div>
  </div>
</div>
{% endblock %}
